.card {
  font-weight: 500;
  background: steelblue;
  height: 255px;
  padding: 12px;
  color: white;
  border: #bab709 4px solid;
  border-radius: 7px;
  list-style: none;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  box-shadow: 1.1px 0.8px 1.1px -7px rgba(0, 0, 0, 0.013),
    2.9px 2.2px 3.6px -7px rgba(0, 0, 0, 0.028),
    12px 9px 16px -7px rgba(0, 0, 0, 0.24);
}

.card-image {
  justify-self: center;
  max-width: 100%;
  grid-column: 1 / -1;
}

.card-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  justify-self: center;
  grid-column: 1 / -1;
}
