.card--basic {
  font-weight: 500;
  background: steelblue;
  padding: 12px;
  color: white;
  border: #bab709 4px solid;
  border-radius: 7px;
  list-style: none;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.card-image {
  justify-self: center;
  max-width: 100%;
  grid-column: 1 / -1;
}

.card-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  justify-self: center;
  grid-column: 1 / -1;
}

.card-types {
  grid-column: 1 / -1;
}

.card__button {
  border: yellow 2px solid;
  border-radius: 5px;
  color: black;
  background-color: yellow;
}
